form {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 10%;
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4.5vw;
    font-family: Cormorant Garamond, serif;
  }

  .imgContainer {
    position: relative;
    text-align: center;

  }
 
  .messageDiv {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 3vw;
    font-family: Cormorant Garamond, serif;
  }

  .imgStyle {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }